* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.container .title {
  text-align: center;
  margin: 30px 0;
  text-decoration: underline;
}
@media (max-width: 64em) {
  .container {
    width: 80%;
  }
  .container .title {
    text-align: center;
  }
}

.flex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex .container-list {
  width: 45%;
  min-height: 45vh;
  height: auto;
  flex-direction: column;
}

.input-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  transition: all 300ms;
}

.inputs {
  width: 350px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 16px;
  outline: 1;
  outline-color: #1878f3;
}
@media (max-width: 64em) {
  .input-flex {
    margin: 0 auto;
    flex-direction: column;
    align-items: start;
  }
  .inputs{
    width: 90%;
    margin: 0 auto;
  }
.btn-primary,
.btn-secondary,
.btn-danger {
 margin-left: 21px;
}
}
.danger {
  border: 1px solid red;
  animation: shakeit 0.13s ease-in;
}

.btn-primary,
.btn-secondary,
.btn-danger {
  display: inline-block;
  height: 40px;
  width: 80px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary {
  background-color: #1878f3;
}
.btn-danger {
  background-color: red;
}
.btn-secondary {
  background-color: lightgreen;
}

.container-pending,
.container-done {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.container-pending .list-item,
.container-done .list-item {
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: #333;
  line-height: 50px;
  border-bottom: 1px solid #111;
  padding-left: 20px;
  font-weight: bold;
  display: flex;
}

.list-item span {
  flex-grow: 2;
}
.list-item .button-container {
  flex-grow: 1;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 10px;
}
@media(max-width: 64em){
  .flex{
    flex-direction: column;
  }
.flex .container-list{
  margin-top: 20px;
  width: 100%;
  
}
}

@keyframes shakeit {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
